<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
</head>
<body>
<div layout:fragment="content1">
    <h1 class="text-center">Edit Category</h1>
    <div class="col-md-6 offset-3">
        <form  method="post" th:action="@{/admin/category/{category_id}/edit}">
            <input class="form-control" type="hidden" name="id" th:value="${category.id}">
            <div>
                <label class="form-label">Name Category</label>
                <input
                        class="form-control"
                        type="text"
                        name="name"
                        th:value="${category.name}"
                >
                <span class="text-danger" th:errors="${category.name}" ></span>
            </div>

            <button type="submit" class="btn btn-primary mt-1">Save</button>
        </form>
    </div>
</div>
</body>
</html>